html, body {
  margin:0;
  padding:0;
}

.page {
  margin-top: 20px;
}

.container {
  width: 970px;
}



header {
  position: relative;
  height: 120px;
}

.logo-banner {
  background-color: #888888;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}



.content {
  margin-top: 40px;
}










hr{
	border-top-color:#000;
}

#logo{
	padding: 15px 0;
}

#header-nav{
	margin: 35px 0 0;
}
#header-nav a{
	margin-left: 40px;
	color: #000;
	font-size: 1.2em;
}
#header-nav .active{
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}

.section{
	padding:30px 0 0;
}
.first-section{
	padding: 60px 0;
}
.first-section h1{
	font-size: 4em;
	margin-bottom: 25px;
}
.first-section p{
	font-size: 1.5em;
}

.green{
	background-color: #4dad4d;
	color: white;
}
