<IfModule mod_rewrite.c>
  RewriteEngine on

  ErrorDocument 400 /html/error.php
  ErrorDocument 401 /html/error.php
  ErrorDocument 403 /html/error.php
  ErrorDocument 404 /html/error.php
  ErrorDocument 500 /html/error.php

  RewriteRule   ^css/ - [L]
  RewriteRule   ^js/ - [L]
  RewriteRule   ^img/ - [L]
  RewriteRule   ^.*$ index.php   [L]

</IfModule>
